apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "woocommerce.fullname" . }}-default-deny
  labels:
    {{- include "woocommerce.labels" . | nindent 4 }}
spec:
  podSelector: {}
  policyTypes:
  - Ingress
  - Egress
  
  # 1. Allow Ingress (Traffic coming IN)
  ingress:
  - from:
    - namespaceSelector: {} 
    ports:
    - protocol: TCP
      port: 80
    - protocol: TCP
      port: 3306
  # 2. Allow Egress (Traffic going OUT)
  egress:
  # Allow connecting to the Database (in the same namespace)
  - to:
    - namespaceSelector: {} 
  
  # Allow DNS Resolution
  - ports:
    - protocol: UDP
      port: 53
    - protocol: TCP
      port: 53
      
  - ports:
    - protocol: TCP
      port: 80
    - protocol: TCP
      port: 443